
teste2.ipynb
teste2.ipynb
exercicio1.ipynb
exercicio1.ipynbZone.Identifier
output.png
teste.ipynb
teste3.ipynb
teste_trabalho.ipynb
teste_trabalho_modificado.ipynb
teste_trabalho_modificado.ipynbZone.Identifier
trabalho_final.ipynb
teste2.ipynb
exercicio1.ipynb
output.png
teste.ipynb
teste3.ipynb
teste_trabalho.ipynb
teste_trabalho_modificado.ipynb
trabalho_final.ipynb
